.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Glatka animacija */
    transform: scale(1); /* Podrazumevana veličina */
    box-shadow: 0 2px 8px rgba(0, 0, 0); /* Blagi efekat senke */
    margin-top: 10%;
    background-color: white;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-bottom: 1px solid #ccc;
}

.card-content {
    padding: 16px;
}

.card-content h2 {
    font-size: 1.5em;
    margin: 0 0 8px;
}

.card-content p {
    font-size: 1em;
    color: #666;
}
.card:hover {
    transform: scale(1.1); /* Povećava karticu za 10% */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Naglašenija senka */
    cursor: pointer; 
}

.dentist-list {
    display: flex; /* Aktivira fleksibilni raspored */
    flex-wrap: wrap; /* Omogućava prelazak u novi red ako nema dovoljno mesta */
    gap: 16px; /* Razmak između kartica */
    justify-content: center; /* Poravnanje kartica po horizontali */
    padding: 16px; /* Razmak oko liste */
}